@import url(global_vars.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    color: #fff;
    font-family: var(--site_font);
    letter-spacing: 2px;
    margin: 3% 10%;
}

header > nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    text-transform: uppercase;
}

header > nav > .hambuger-menu{
    display: none;
}

header > nav > .item-left-container:hover{
    transition: 0.3s;
    color: var(--site_accent_color);
    cursor: pointer;
}

header > nav > .item-right-container > .item{
    padding: 10px;
    text-decoration: none;
    color: inherit;

    --border-thickness: 2px;
    --_color: #000 0 25%, var(--site_accent_color) 0 50%;
    --_gap1: repeating-linear-gradient(90deg, var(--_color)) repeat-x;
    --_gap2: repeating-linear-gradient(180deg, var(--_color)) repeat-y;

    background: 
        var(--_gap1) var(--_space, 25%) 0, var(--_gap2) 0 var(--_space, 125%),
        var(--_gap1) var(--_space, 125%) 100%, var(--_gap2) 100% var(--_space, 25%);
    
    background-size: 200% var(--border-thickness), var(--border-thickness) 200%;

    cursor: pointer;
    filter: grayscale(50%);
    transition: 0.3s;

}

header > nav > .item-right-container > .item:hover{
    --_space: 75%;
    filter: grayscale(0%);
}

header > .text-container{
    margin: 17% 0;
    font-size: 40px;
}

header > .text-container > .gretting{
    color: var(--site_accent_color);
}

header > .text-container > .title{
    font-size: 75px;
    padding: 20px 0;
}

main{
    padding-bottom: 50px;
}

main > .title{
    font-size: 40px;
}

main > .more-projects{
    cursor: pointer;
    text-decoration: none;
    color: var(--site_accent_color);
    margin-bottom: 50px;
    float: right;
}

main > .more-projects::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--site_accent_color);
    transition: width 0.4s ease-in;
}

main > .more-projects:hover::after{
    width: 100%;
}

main > .grid-container{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    margin: 50px 0;
}

main > .grid-container > .grid-item{
    height: 400px;
    border-radius: 1rem;
    color: #000;
}

main > .grid-container > .flip-card{
    background-color: transparent;
    perspective: 1000px;
}

main > .grid-container > .grid-item > .card-inner{
    position: inherit;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

main > .grid-container > .grid-item:hover .card-inner{
    transform: rotateY(180deg);
    cursor: pointer;
}

main > .grid-container > .grid-item > .card-inner > .card-front,
main > .grid-container > .grid-item > .card-inner > .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

main > .grid-container > .grid-item > .card-inner > .card-front > img{
    width: 100%;
}

main > .grid-container > .grid-item > .card-inner > .card-front{
    background-color: #fff;
}

main > .grid-container > .grid-item > .card-inner > .card-back{
    background-color: #000;
    color: #fff;
    transform: rotateY(180deg);
}

main > .grid-container > .grid-item > .card-inner > .card-back > h1{
    color: var(--site_accent_color);
}

footer{
    border-top: 1px solid #949494;
}